* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('Web-1920-1.jpg') no-repeat center center/cover;
    color: white;
    padding: 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.header {
    position: fixed; /* Fix the header position */
    top: 0; /* Align the header to the top of the page */
    left: 0; /* Align the header to the left of the page */
    width: 100%; /* Make the header full-width */
    background-color: transparent; /* Make the header transparent */
    color: white;
    padding: 10px 20px; /* Adjust header padding */
    display: flex;
    justify-content: space-between; /* Align logo and other content to opposite ends */
    align-items: center; /* Align content vertically */
}

.logo {
    order: 2; /* Ensure the logo is on the right side */
}
.logo img {
    width: 175px; /* Adjust logo size as needed */
}

.content {
    display: flex;
    flex-direction: row; /* On large screens, arrange content horizontally */
    justify-content: space-between; /* Add space between elements */
    top: 300px;
}

.coming-soon{
    max-width: 45%; /* Set maximum width for both elements */
    margin-top: 200px; 
}
.notify-form {
    max-width: 45%; /* Set maximum width for both elements */
}

.coming-soon {
    order: 2; /* Ensure "Coming Soon" is on the right side */
}

.notify-form {
    order: 1; /* Ensure contact form is on the left side */
}

.coming-soon h1 {
    font-size: 5em;
    color: #000;
    margin-bottom: 10px;
}

.coming-soon p {
    font-size: 1.2em;
    color: #000;
}

.notify-form {
    padding: 20px;
}

.notify-form input,
.notify-form textarea,
.notify-form button {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.notify-form input::placeholder,
.notify-form textarea::placeholder {
    color: #000;
}

.notify-form textarea {
    height: 175px;
}

.notify-form button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notify-form button:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 767px) {
    .content {
        flex-direction: column; /* On small screens, arrange content vertically */
    }

    .coming-soon{
        max-width: 100%; /* Make both elements take full width on small screens */
        margin-bottom: 20px; /* Add margin between elements */
    }
    .coming-soon h1 {
    font-size: 3em;
    }
    
    .notify-form {
        max-width: 100%; /* Make both elements take full width on small screens */
        margin-bottom: 20px; /* Add margin between elements */
    }
}
