
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('Web-1920-1.jpg') no-repeat center center/cover;
    color: white;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
}

.logo img {
    width: 200px; /* Adjust as needed */
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    margin: 20px;
}

.notify-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 100%;
    width: 60px; /* Adjust as needed */
    margin: 10px;
}

.notify-form input, .notify-form textarea, .notify-form button {
    margin: 10px 0;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.notify-form input::placeholder, .notify-form textarea::placeholder {
    color: #000;
}

.notify-form textarea {
    height: 175px; /* Increase the height of the textarea */
}

.notify-form button {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.notify-form button:hover {
    background-color: #fff;
    color: #000;
}

.coming-soon {
    width: 100%;
    max-width: 400px;
    margin: 10px;
    flex: 1;
    text-align: left;
}

.coming-soon h1 {
    font-size: 6em;
    margin-bottom: 10px;
}

.coming-soon p {
    font-size: 1.2em;
    color: #000;
}

@media (min-width: 768px) {
    .content {
        flex-wrap: nowrap;
    }

    .notify-form, .coming-soon {
        width: 50%;
    }

    .coming-soon h1 {
        font-size: 2.5em;
    }
}

@media (max-width: 767px) {
    .coming-soon h1 {
        font-size: 2em;
    }

    .coming-soon p {
        font-size: 1em;
    }
}
